/* Positions*/
.fixed{ position: fixed; }
.absolute{ position: absolute; }
.relative{position: relative;}
.static{ position: static; }
/*End position*/

/*Text*/

.text-center{ text-align: center; }
.text-right{ text-align:right; }
.text-left{ text-align:left; }
.text-just{ text-align:justify; }
.bold     { font-weight: bold; }
.regular  { font-weight: normal; }
.italic   { font-style: italic; }


/*End text*/


/*Display settings*/
.block{ display: block; }
.hide{ display: none; }
.inline{ display: inline;}
.inline-block{ display: inline-block; }

/*end display*/


/*borders*/

.border-one{ border: solid 0px #A69494 }

/*end bordes*/

/*Margin*/
.mar_0{ margin: 0; }
.mar_top{ margin: 10px 0px; }
/*end margin*/


/*DEBUG*/


.z-top{ z-index: 999999; }
.w_all{ width: 100%;}
.bottom{ bottom: 0px }




/*Backgroun colors*/
.bg-black{background-color: #333;}
.bg-sblack{background-color: #111;}


/*Fonts colors*/
.f-white{ color: white; }
.f-s100{ font-size: 100%;     padding: 14px 16px; }



/*END DEBUG*/



html { 
  background: url(https://previews.123rf.com/images/noirion/noirion1203/noirion120300029/12807568-Vector-coffee-bean-seamless-background-Stock-Vector.jpg)
   center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

.typed-fade-out{
    opacity: 0;
    animation: 0;
    transition: opacity .25s;
}

.lb{
	margin: 25px 10px 5px 10px;
	padding: 5px;
}

.fill-10{
	padding: 10px;
}